In [23]:
import numpy as np
import pandas as pd

In [24]:
# número de grupos
num_grp = 12
# número de temas
num_temas = 7
# nome do arquivo
filename = "MPSD_AV2"

In [25]:
grupos = np.arange(num_grp) + 1
temas = np.arange(num_temas) + 1
print('Grupo: {}\nTemas: {}'.format(grupos,temas))

Grupo: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Temas: [1 2 3 4 5 6 7]

In [26]:
df = pd.DataFrame(columns=['Grupo', 'Tema'])
tema_aux = temas.copy()
grupos_aux = grupos.copy()

while grupos_aux.size != 0: # para todos os grupos
    if tema_aux.size == 0:
        tema_aux = temas
    grp_sort = np.random.choice(grupos_aux.size)
    tema_sort = np.random.choice(tema_aux.size)
    d_aux = {'Grupo' : int(grupos_aux[grp_sort]), 'Tema': int(tema_aux[tema_sort])}
    print('Grupo: {:02d} --> tema: {:02d}'.format(d_aux['Grupo'], d_aux['Tema']))
    grupos_aux =  np.delete(grupos_aux, grp_sort)
    tema_aux = np.delete(tema_aux, tema_sort)
    df = pd.concat([df, pd.DataFrame(d_aux, [0])])
# Ordenando resultados
df.sort_values('Grupo', inplace=True)
# refazendo indices
df.reset_index(drop=True, inplace=True)

Grupo: 03 --> tema: 03
Grupo: 12 --> tema: 07
Grupo: 02 --> tema: 01
Grupo: 08 --> tema: 06
Grupo: 10 --> tema: 05
Grupo: 04 --> tema: 04
Grupo: 06 --> tema: 02
Grupo: 01 --> tema: 05
Grupo: 05 --> tema: 03
Grupo: 11 --> tema: 06
Grupo: 09 --> tema: 07
Grupo: 07 --> tema: 01

In [27]:
df.head(num_grp)

   Grupo Tema
0      1    5
1      2    1
2      3    3
3      4    4
4      5    3
5      6    2
6      7    1
7      8    6
8      9    7
9     10    5
10    11    6
11    12    7

In [28]:
df.to_excel(filename + '.xlsx', index = False )