In [1]:
import numpy as np
import pandas as pd

In [2]:
# número de grupos
num_grp = 12
# número de temas
num_temas =7

In [3]:
grupos = np.arange(num_grp) + 1
temas = np.arange(num_temas) + 1
print('Grupo: {}\nTemas: {}'.format(grupos,temas))

Grupo: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Temas: [1 2 3 4 5 6 7]

In [4]:
df = pd.DataFrame(columns=['Grupo', 'Tema'])
tema_aux = temas.copy()
grupos_aux = grupos.copy()

while grupos_aux.size != 0:
    if tema_aux.size == 0:
        tema_aux = temas
    grp_sort = np.random.choice(grupos_aux.size)
    tema_sort = np.random.choice(tema_aux.size)
    d_aux = {'Grupo' : int(grupos_aux[grp_sort]), 'Tema': int(tema_aux[tema_sort])}
    print('Grupo: {:02d} --> tema: {:02d}'.format(d_aux['Grupo'], d_aux['Tema']))
    grupos_aux =  np.delete(grupos_aux, grp_sort)
    tema_aux = np.delete(tema_aux, tema_sort)
    df = pd.concat([df, pd.DataFrame(d_aux, [grp_sort])])
df.sort_values('Grupo', inplace=True)
df.reset_index(drop=True, inplace=True)

Grupo: 04 --> tema: 01
Grupo: 01 --> tema: 05
Grupo: 09 --> tema: 07
Grupo: 05 --> tema: 02
Grupo: 10 --> tema: 06
Grupo: 06 --> tema: 03
Grupo: 03 --> tema: 04
Grupo: 07 --> tema: 01
Grupo: 12 --> tema: 03
Grupo: 11 --> tema: 06
Grupo: 08 --> tema: 05
Grupo: 02 --> tema: 04

In [5]:
df.head(num_grp)

   Grupo Tema
0      1    5
1      2    4
2      3    4
3      4    1
4      5    2
5      6    3
6      7    1
7      8    5
8      9    7
9     10    6
10    11    6
11    12    3

In [6]:
df.to_excel('sorteio.xlsx', index = False )