In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("ALUNOS.tsv", sep="\t", header=None)

df.drop([0,1], axis=1, inplace=True)

df.columns =[ "RA",  "Nome",  "Nascimento",  "status"]  #(columns={"2": "RA", "3": "Nome", "4": "Nascimento", "5": "status"}, inplace=True)
df.head()

           RA                            Nome  Nascimento       status
0  1T1.833932         Alice Mascarenhas Venas  21/09/2003  Matriculado
1  1T1.833938            Alice Pinheiro Matos  06/08/2003  Matriculado
2  162.632052  Allan Claudio Cruz Souza Silva  18/02/2000  Matriculado
3  1T1.844624           Bianca Bahia Carreiro  02/04/2004  Matriculado
4  1T1.890731              Brisa Bessa Alonso  07/07/1986  Matriculado

In [14]:
df.to_csv("alunos.csv")